@import '../../app.vars';

.main .body {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .content {

        form {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        fieldset {
            border: 0;
            box-sizing: border-box;
            flex-direction: row;
            flex-flow: row wrap;
            margin: 0;
            margin-bottom: $big-v-pad;
            max-width: 240px;
            padding: 0;
            width: 100%;

            input {
                box-sizing: border-box;
                margin-bottom: $med-v-pad;
                width: 100%;
            }

            button {
                width: 100%;
            }
        }

        legend {
            color: $text-color-legend;
            margin-bottom: $small-v-pad;
        }
    }
}

