@import '../app.vars';
@import './global/controls';
@import './global/inline-edit';

// ----------------------------------
// misc
// ----------------------------------

.hidden {
    display: none;
}

.app > .wrapper {
    position: relative;
}

.highlight {
    color: $text-color-legend-highlight;
}

// ----------------------------------
// html
// ----------------------------------

html,
.app {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color-dark;
    color: #d8dce3;
    font-family: 'Source Code Pro', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

body,
div,
table,
p,
input,
button {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
}

// ----------------------------------
// links
// ----------------------------------

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }
}

// ----------------------------------
// forms
// ----------------------------------

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $link-color;
    cursor: pointer;
    min-width: 40px;
    padding: $small-v-pad $small-h-pad;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .1s ease-out, color .1s ease-out;

    &:hover {
        background-color: $link-color-hover;
        color: $text-color-dark;
        transition: background-color 0s linear, color 0s linear;
    }

    &:disabled {
        background-color: transparent;
        color: $text-color-dark;
        cursor: default;
        pointer-events: none;
    }
}

input {
    &[type='text'],
    &[type='password'] {
        background-color: $input-bg-color;
        border: 0;
        color: $input-text-color;
        padding: $small-v-pad $small-h-pad;

        &:focus {
            color: $input-text-color-focus;
        }
    }
}

// > sm

@media screen and (min-width: $breakpoint-xs) {

    &.no-bg {
        background: transparent;

        &:hover {
            background: transparent;
            color: $link-color-hover;

            span {
                text-decoration: underline;
            }
        }

        i {
            font-size: 1.1em;
            padding-left: 10px;
        }
    }
}

// ----------------------------------
// loader
// ----------------------------------

.loader-container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .label {
        color: #cf9;
        font-size: 24px;
        font-weight: normal;
        height: 50px;
    }

    .icon {
        font-size: 40px;
        height: 50px;
    }
}

// ----------------------------------
// header
// ----------------------------------

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: justify-content .5s linear;

    .title {
        opacity: 1;
        transition: opacity .5s linear;

        &.disabled {
            opacity: .2;
            transition: opacity .5s linear;
        }

        h1 {
            color: $text-color-title;
            font-family: 'TlwgTypewriter', serif;
            font-size: 20px;
            text-shadow: rgba($light-yellow, .2) 0 10px 10px;
        }

        .sub {
            color: darken($text-color-title, 20%);
            font-family: 'TlwgTypewriter', serif;
            font-size: 14px;
            margin-right: -$med-h-pad;
            margin-top: -14px;
            text-align: right;
        }
    }

    .controls {
        display: none;
    }
}

// > sm

@media screen and (min-width: $breakpoint-xs) {

    .header {
        justify-content: left;

        .title {
            margin-left: $big-h-pad;

            h1 {
                font-size: 22px;
            }

            .sub {
                margin-right: -$big-h-pad;
            }
        }

        //.controls {
        //    background-color: $bg-color-dark;
        //    border: 1px solid $bdr-color-dark;
        //    box-shadow: 0 0 75px -6px rgba(0, 0, 0, .39);
        //    opacity: 1;
        //    padding: $med-h-pad ($med-h-pad * 2) $med-h-pad $med-h-pad;
        //    position: absolute;
        //    right: 0;
        //    top: 0;
        //    transition: opacity .5s linear;
        //
        //    &.disabled {
        //        opacity: .2;
        //        transition: opacity .5s linear;
        //    }
        //}
    }
}

// > 1000

@media screen and (min-width: $breakpoint-md) {

    .header {
        justify-content: center;
        transition: justify-content .5s linear;

        .title {
            margin-left: 0;
        }
    }
}

// ----------------------------------
// main
// ----------------------------------

.main {
    margin: $big-v-pad auto;
    //overflow: auto;
    position: relative;
    transition: filter .2s ease-out;

    .controls {
        background-color: lighten($bg-color-dark, 3%);
    }

    .no-results {
        box-sizing: border-box;
        color: $text-color-med;
        padding: $small-v-pad $small-h-pad;
        text-align: center;
    }

    .wrapper {
        position: relative;
    }

    .overlay {
        background-color: rgba(desaturate(darken($dark-blue, 15%), 35%), .3);
        height: 100%;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity .5s ease-out;
        width: 100%;
    }

    &.disabled {
        cursor: default;
        filter: blur(2px);
        pointer-events: none;
        transition: filter .2s ease-in;

        .overlay {
            opacity: 1;
            transition: opacity .5s ease-in;
        }
    }

    .body {
        background-color: $bg-color-med;
        min-height: 400px;

        &.bordered {
            border: 1px solid $bdr-color-med;
            box-sizing: border-box;
        }

        &.project-selected {
            .column-left {
                display: none;
            }

            .column-right {
                display: block;
            }
        }

        .column-left {
            &.bordered {
                border: 1px solid $bdr-color-med;
                border-bottom: 0;
                border-right-style: none;
            }
        }

        .column-right {
            display: none;

            &.bordered {
                border: 1px solid $bdr-color-med;
                border-bottom: 0;
                box-sizing: border-box;
            }
        }
    }

    .footer {
        align-items: stretch;
        color: $text-color-legend;
        display: flex;
        justify-content: space-between;

        .column {
            padding: $big-v-pad 0;
        }

        .column-left {
            padding-left: $med-h-pad;
        }

        .column-right {
            padding-right: $med-h-pad;
        }
    }
}

// > sm

@media screen and (min-width: $breakpoint-xs) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;

        .controls {
            background-color: transparent;
        }

        .no-results {
            text-align: left;
        }

        .body {
            box-shadow: 0 0 75px -6px rgba(0, 0, 0, .39);
            box-sizing: border-box;
            display: flex;
            min-height: 600px;

            &.project-selected {
                .column-left {
                    display: block;
                }

                .column-right {
                    display: block;
                }
            }

            .column-left {
                align-items: stretch;
                background-color: $bg-color-dark;
                box-sizing: border-box;
                clear: both;
                display: block;
                flex: 1;
                float: left;
                padding-bottom: $big-v-pad;
                padding-top: $big-v-pad;
            }

            .column-right {
                display: block;
                float: right;
                padding: $big-v-pad $big-h-pad;

                &.bordered {
                    border: 1px solid $bdr-color-med;
                }
            }
        }

        .footer {

            .column-left {
                padding-left: $med-h-pad;
            }

            .column-right {
                padding-right: $med-h-pad;

                button {
                    padding-right: 0;
                }
            }
        }
    }
}

// sm < 899

@media screen and (min-width: $breakpoint-xs) and (max-width: ($breakpoint-sm - 1px)) {

    .main {
        .body {
            .column-left {
                width: 200px;
            }

            .column-right {
                width: calc(100% - 200px);
            }
        }
    }
}

// sm < 1199

@media screen and (min-width: $breakpoint-xs) and (max-width: ($breakpoint-lg - 1px)) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 100%;

        .body {
            .column-left {
                padding-bottom: $big-v-pad;
                padding-top: $big-v-pad;
                width: 260px;
            }

            .column-right {
                padding: $big-v-pad $big-h-pad;
                width: calc(100% - 260px);
            }
        }
    }
}

// > 1201

@media screen and (min-width: $breakpoint-lg) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 1200px;

        .body {
            .column-left {
                padding-bottom: $xbig-v-pad;
                padding-top: $xbig-v-pad;
                width: 340px;
            }

            .column-right {
                padding: $xbig-v-pad $xbig-h-pad;
                width: calc(100% - 340px);
            }
        }

        .footer {

            .column-left {
                padding-left: 0;
            }

            .column-right {
                padding-right: 0;

                button {
                    padding-right: 0;
                }
            }
        }
    }
}

// ----------------------------------
// common table
// ----------------------------------

.common-table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: darken($med-grey2, 2%);
        color: $light-grey;
    }

    table,
    th,
    td {
        border-bottom: 1px solid $dark-grey;
    }

    th,
    td {
        padding: $med-v-pad $med-h-pad;
        text-align: left;
    }

    .cell-button {
        padding-left: 5px;
        padding-right: 5px;
        width: 20px;
    }

    .status-1 { // incomplete

        .inline-edit {
            cursor: pointer;
            pointer-events: all;
            transition: color .3s ease-out;

            &:hover {
                color: $light-blue;
                transition: color 0s linear;
            }
        }
    }

    .status-2 { // complete
        .inline-edit {
            color: $med-grey;
            pointer-events: none;
            text-decoration: line-through;
        }
    }
}

// ----------------------------------
// common list
// ----------------------------------

.common-list {
    width: 100%;

    li {
        padding-left: 0;
        width: 100%;

        &.selected {
            background-color: darken($bg-color-dark, 2%);
            color: $text-color-selected;
        }

        &.inline-edit {

            input {
                width: 100%;
                //background-color: transparent;
            }

            &.editing {
                cursor: default;
                margin-right: $small-h-pad;
                padding: ($med-v-pad - $small-v-pad - 1px) 0 ($med-v-pad - $small-v-pad - 1px) ($big-h-pad - $small-h-pad);
            }

            &.status-1 { // incomplete
                cursor: pointer;
                pointer-events: all;

                span {
                    transition: color .3s ease-out;
                }

                &:hover {
                    color: $text-color-selected;

                    span {
                        color: $light-blue;
                        transition: color 0s linear;
                    }
                }
            }
        }

        button {
            text-align: left;
            text-transform: none;
            width: 100%;
        }
    }
}

// ----------------------------------
// common message
// ----------------------------------

.common-message {
    background-color: $bg-color-dark;
    color: $light-grey;
    filter: blur(2px);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .8s linear, background-color .8s linear, filter .8s ease-out;
    width: 100%;

    &.has-message {
        background-color: darken($bg-color-dark, 5%);
        filter: blur(0);
        opacity: 1;
        pointer-events: all;
        transition: background-color .2s linear, opacity .2s linear, filter .2s ease-in;
    }

    &.info {
        color: $light-blue;

        .icon {
            color: desaturate(darken($light-blue, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-blue, 30%), 20%);
        }
    }

    &.success {
        color: $light-green;

        .icon {
            color: desaturate(darken($light-green, 30%), 80%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-green, 30%), 80%);
        }
    }

    &.warning {
        color: $light-yellow;

        .icon {
            color: desaturate(darken($light-yellow, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-yellow, 30%), 20%);
        }
    }

    &.danger {
        color: $light-red;

        .icon {
            color: desaturate(darken($light-red, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-red, 30%), 20%);
        }
    }

    > .content {
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        box-sizing: border-box;
        height: 70px;
        margin-bottom: $med-v-pad;
        padding: $med-v-pad $big-h-pad;
        text-align: center;
        //transition: margin .2s ease-in;

        &.minimal {
            border-bottom-width: 1px;
            margin-bottom: 0;
            margin-top: -69px;
            //transition: margin .2s ease-in;
        }
    }
}
