@import '../app.vars';

// ----------------------------------
// misc
// ----------------------------------

.hidden {
    display: none;
}

.app > .wrapper {
    position: relative;
}

// ----------------------------------
// html
// ----------------------------------

html,
.app {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color-dark;
    color: #d8dce3;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Source Code Pro', sans-serif;
}

body,
div,
table,
p,
input,
button {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
}

// ----------------------------------
// links
// ----------------------------------

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }
}

// ----------------------------------
// forms
// ----------------------------------

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $link-color;
    cursor: pointer;
    min-width: 40px;
    padding: $small-v-pad $small-h-pad;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: $link-color-hover;
        color: $text-color-dark;
    }

    &:disabled {
        background-color: transparent;
        color: $text-color-dark;
        cursor: default;
        pointer-events: none;
    }
}

input {
    &[type='text'] {
        background-color: $input-bg-color;
        border: 0;
        color: $input-text-color;
        padding: $small-v-pad $small-h-pad;

        &:focus {
            color: $input-text-color-focus;
        }
    }
}

// ----------------------------------
// loader
// ----------------------------------

.loader-container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .label {
        color: #cf9;
        font-size: 24px;
        font-weight: normal;
        height: 50px;
    }

    .icon {
        font-size: 40px;
        height: 50px;
    }
}

// ----------------------------------
// header
// ----------------------------------

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        opacity: 1;
        transition: opacity .5s linear;

        &.disabled {
            opacity: .2;
            transition: opacity .5s linear;
        }

        h1 {
            font-size: 22px;
            color: $text-color-title;
            font-family: 'TlwgTypewriter', serif;
            text-shadow: rgba($light-yellow, .2) 0 10px 10px;
        }

        .sub {
            font-size: 14px;
            font-family: 'TlwgTypewriter', serif;
            text-align: right;
            margin-top: -14px;
            margin-right: -$big-h-pad;
            color: darken($text-color-title, 20%);
        }
    }

    .controls {
        background-color: rgba(0, 0, 0, .2);
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 4px 8px 4px 4px;
        opacity: 1;
        transition: opacity .5s linear;
        border: 1px solid desaturate(darken($light-yellow, 40%), 30%);

        &.disabled {
            opacity: .2;
            transition: opacity .5s linear;
        }
    }
}

// ----------------------------------
// main
// ----------------------------------

.main {
    background-color: $bg-color-med;
    box-shadow: 0 0 75px -6px rgba(0, 0, 0, .39);
    box-sizing: border-box;
    margin: ($big-v-pad * 2) auto $big-v-pad;
    overflow: auto;
    position: relative;

    .overlay {
        align-items: center;
        background-color: rgba(0, 0, 0, .3);
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity .5s linear;
        width: 100%;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;

        .overlay {
            opacity: 1;
            transition: opacity .5s linear;
        }
    }

    .body {
        box-sizing: border-box;
        display: flex;
        min-height: 600px;

        .column-left {
            align-items: stretch;
            background-color: $bg-color-dark;
            box-sizing: border-box;
            clear: both;
            flex: 1;
            float: left;
            padding-bottom: $big-v-pad;
            padding-top: $big-v-pad;
        }

        .column-right {
            box-sizing: border-box;
            float: right;
            padding: $big-v-pad $big-h-pad;
        }
    }
}

// > 1201

@media screen and (min-width: 1201px) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 1200px;

        .column-left {
            padding-bottom: $xbig-v-pad;
            padding-top: $xbig-v-pad;
            width: 340px;
        }

        .column-right {
            padding: $xbig-v-pad $xbig-h-pad;
            width: calc(100% - 340px);
        }
    }
}

// < 1201

@media screen and (max-width: 1200px) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 100%;

        .app-column-left {
            padding-bottom: $big-v-pad;
            padding-top: $big-v-pad;
            width: 260px;
        }

        .app-column-right {
            padding: $big-v-pad $big-h-pad;
            width: calc(100% - 260px);
        }
    }
}

// ----------------------------------
// common table
// ----------------------------------

.common-table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: darken($med-grey2, 2%);
        color: $light-grey;
    }

    table,
    th,
    td {
        border-bottom: 1px solid $dark-grey;
    }

    th,
    td {
        padding: $med-v-pad $med-h-pad;
        text-align: left;
    }

    .cell-button {
        padding-left: 5px;
        padding-right: 5px;
        width: 20px;
    }

    .cell-inline-edit {
        input {
            width: 100%;
        }
    }

    .cell-inline-edit.complete {
        color: $med-grey;
        text-decoration: line-through;
    }

    .cell-inline-edit.editing {
        padding-left: 10px;
    }
}

// ----------------------------------
// common list
// ----------------------------------

.common-list {
    width: 100%;

    li {
        padding-left: 0;
        width: 100%;

        &.selected {
            background-color: darken($bg-color-dark, 2%);
            color: $text-color-selected;
        }

        button {
            text-align: left;
            text-transform: none;
            width: 100%;
        }
    }
}

// ----------------------------------
// common message
// ----------------------------------

.common-message {
    background-color: $bg-color-dark;
    color: $light-grey;
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    pointer-events: none;
    transition: opacity .8s linear, background-color .8s linear;

    &.has-message {
        background-color: darken($bg-color-dark, 5%);
        opacity: 1;
        transition: background-color .2s linear, opacity .2s linear;
        pointer-events: all;
    }

    &.info {
        color: $light-blue;

        .icon {
            color: desaturate(darken($light-blue, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-blue, 30%), 20%);
        }
    }

    &.success {
        color: $light-green;

        .icon {
            color: desaturate(darken($light-green, 30%), 80%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-green, 30%), 80%);
        }
    }

    &.warning {
        color: $light-yellow;

        .icon {
            color: desaturate(darken($light-yellow, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-yellow, 30%), 20%);
        }
    }

    &.danger {
        color: $light-red;

        .icon {
            color: desaturate(darken($light-red, 30%), 20%);
        }

        > .content {
            border-bottom-color: desaturate(darken($light-red, 30%), 20%);
        }
    }

    > .content {
        box-sizing: border-box;
        border-bottom-style: solid;
        border-bottom-color: desaturate(darken($light-yellow, 30%), 20%);
        border-bottom-width: 1px;
        height: 70px;
        padding: $med-v-pad $big-h-pad;
        text-align: center;
        margin-bottom: $med-v-pad;
        //transition: margin .2s ease-in;

        &.minimal {
            margin-top: -69px;
            margin-bottom: 0;
            border-bottom-width: 1px;
            //transition: margin .2s ease-in;
        }
    }
}
