@import '../app.vars';

// ----------------------------------
// misc
// ----------------------------------

.hidden {
    display: none;
}

// ----------------------------------
// html
// ----------------------------------

html,
.app {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color-dark;
    color: #d8dce3;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

body,
div,
table,
p,
input,
button {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
}

// ----------------------------------
// links
// ----------------------------------

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
    }
}

// ----------------------------------
// forms
// ----------------------------------

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $link-color;
    cursor: pointer;
    min-width: 40px;
    padding: $small-v-pad $small-h-pad;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-color: $link-color-hover;
        color: $text-color-dark;
    }

    &:disabled {
        pointer-events: none;
        background-color: transparent;
        color: $text-color-dark;
        cursor: default;
    }
}

input {
    &[type='text'] {
        background-color: $input-bg-color;
        border: 0;
        color: $input-text-color;
        padding: $small-v-pad $small-h-pad;

        &:focus {
            color: $input-text-color-focus;
        }
    }
}

// ----------------------------------
// loader
// ----------------------------------

.loader-container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    .label {
        color: #cf9;
        font-size: 24px;
        font-weight: normal;
        height: 50px;
    }

    .icon {
        color: #000;
        font-size: 40px;
        height: 50px;
    }
}

// ----------------------------------
// main
// ----------------------------------

.main {
    background-color: $bg-color-med;
    box-shadow: 0 0 75px -6px rgba(0, 0, 0, .39);
    box-sizing: border-box;
    margin: ($big-v-pad * 2) auto $big-v-pad;
    overflow: auto;

    .body {
        box-sizing: border-box;
        display: flex;

        .column-left {
            align-items: stretch;
            background-color: $bg-color-dark;
            box-sizing: border-box;
            clear: both;
            flex: 1;
            float: left;
            padding-bottom: $big-v-pad;
            padding-top: $big-v-pad;
        }

        .column-right {
            box-sizing: border-box;
            float: right;
            padding: $big-v-pad $big-h-pad;
        }
    }
}

// > 1201

@media screen and (min-width: 1201px) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 1200px;

        .column-left {
            padding-bottom: $xbig-v-pad;
            padding-top: $xbig-v-pad;
            width: 340px;
        }

        .column-right {
            padding: $xbig-v-pad $xbig-h-pad;
            width: calc(100% - 340px);
        }
    }
}

// < 1201

@media screen and (max-width: 1200px) {

    .main {
        margin: ($big-v-pad * 2) auto $big-v-pad;
        width: 100%;

        .app-column-left {
            padding-bottom: $big-v-pad;
            padding-top: $big-v-pad;
            width: 260px;
        }

        .app-column-right {
            padding: $big-v-pad $big-h-pad;
            width: calc(100% - 260px);
        }
    }
}

// ----------------------------------
// common table
// ----------------------------------

.common-table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: darken($med-grey2, 2%);
        color: $light-grey;
    }

    table,
    th,
    td {
        border-bottom: 1px solid $dark-grey;
    }

    th,
    td {
        padding: $med-v-pad $med-h-pad;
        text-align: left;
    }

    .cell-button {
        padding-left: 5px;
        padding-right: 5px;
        width: 20px;
    }

    .cell-inline-edit {
        input {
            width: 100%;
        }
    }

    .cell-inline-edit.complete {
        color: $med-grey;
        text-decoration: line-through;
    }

    .cell-inline-edit.editing {
        padding-left: 10px;
    }
}

// ----------------------------------
// common list
// ----------------------------------

.common-list {
    width: 100%;

    li {
        padding-left: 0;
        width: 100%;

        &.selected {
            background-color: darken($bg-color-dark, 2%);
            color: $text-color-selected;
        }

        button {
            text-align: left;
            text-transform: none;
            width: 100%;
        }
    }
}

// ----------------------------------
// common message
// ----------------------------------

.common-message {
    background-color: $bg-color-dark;
    box-sizing: border-box;
    color: $light-grey;
    height: 60px;
    padding: $med-v-pad $big-h-pad;
    text-align: center;
    transition: background-color .2s;
    width: 100%;

    &.has-message {
        background-color: darken($bg-color-dark, 5%);
        transition: background-color .2s;
    }

    &.info {
        color: $light-blue;
    }

    &.success {
        color: $light-green;
    }

    &.warning {
        color: $light-yellow;
    }

    &.danger {
        color: $light-red;
    }
}
