@import '../../../app.vars';

.common-list li {
    align-items: center;
    box-sizing: border-box;
    display: flex;

    span {
        padding-bottom: $med-v-pad;
        padding-left: $big-h-pad;
        padding-top: $med-v-pad;
        width: 100%;
    }

    i {
        padding-right: $small-h-pad;
    }

    button {
        padding: $med-v-pad $big-h-pad;
    }
}
