// --------------------------
// structure
// --------------------------

$small-v-pad: 5px;
$small-h-pad: 10px;

$med-v-pad: 10px;
$med-h-pad: 20px;

$big-v-pad: 20px;
$big-h-pad: 40px;

$xbig-v-pad: 40px;
$xbig-h-pad: 60px;

$breakpoint-xs: 600px;
$breakpoint-sm: 900px;
$breakpoint-md: 1000px;
$breakpoint-lg: 1200px;
