// --------------------------
// colors
// --------------------------

$dark-grey: #3c3d40;
$med-grey: #636469;
$med-grey2: #45484d;
$light-grey: #7c7f87;
$light-grey2: #d8dce3;

$dark-blue: #2f6083;
$light-blue: #9cc1db;
$lighter-blue: #a8dbff;

$light-green: #cf9;
$light-yellow: #e8d9ae;
$light-red: #e8b6ae;

// bg
$bg-color-dark: $dark-grey;
$bg-color-med: $med-grey2;

// bdr
$bdr-color-darker: $dark-grey;
$bdr-color-dark: darken($med-grey, 10%);
$bdr-color-med: darken($med-grey, 5%);;
$bdr-color-light: $light-grey;

// text
$text-color-title: desaturate(darken($light-yellow, 5%), 40%);
$text-color-dark: $dark-grey;
$text-color-med: $med-grey;
$text-color-selected: $light-yellow;
$text-color-legend: desaturate(darken($light-yellow, 5%), 40%);
$text-color-legend-highlight: $light-yellow;

// link
$link-color: $light-blue;
$link-color-hover: $lighter-blue;

// form
$input-bg-color: $dark-grey;
$input-text-color: $light-grey2;
$input-text-color-focus: $light-green;
