// --------------------------
// colors
// --------------------------

$dark-grey: #3C3D40;
$med-grey: #636469;
$med-grey2: #45484D;
$light-grey: #7C7F87;
$light-grey2: #D8DCE3;

$light-blue: #9CC1DB;
$lighter-blue: #A8DBFF;

$light-green: #ccff99;
$light-yellow: #e8d9ae;
$light-red: #e8b6ae;

// bg
$bg-color-dark: $dark-grey;
$bg-color-med: $med-grey2;

// bdr
$bdr-color-dark: $dark-grey;
$bdr-color-light: $light-grey;

// text
$text-color-dark: $dark-grey;
$text-color-med: $med-grey;

// link
$link-color: $light-blue;
$link-color-hover: $lighter-blue;

// form
$input-bg-color: $dark-grey;
$input-text-color: $light-grey2;
$input-text-color-focus: $light-green;