@import '../../app.vars';

.task-controls {
    border-bottom: 1px solid $bdr-color-light;
    margin-bottom: $big-v-pad;
    overflow: auto;
}

.task-control-group {
    overflow: auto;
    padding-bottom: $med-v-pad;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.task-control {
    float: left;
    padding: 0 $small-h-pad;

    &:nth-child(3n) {
        clear: both;
    }

    &.right {
        float: right;
    }
}

.status-filter {
    float: left;
}

.task-list {
    border-bottom: 1px solid $bdr-color-light;
    clear: both;
    list-style: none;
    margin-bottom: $big-v-pad;
    min-height: 200px;
    padding: 0;

    .no-results {
        color: $text-color-med;
        padding: $small-v-pad $small-h-pad;
    }
}
