@import '../../app.vars';

.status-filter {
    float: left;
}

.task-list {
    clear: both;
    list-style: none;
    margin-bottom: $big-v-pad;
    min-height: 200px;
    padding: 0;

    .no-results {
        color: $text-color-med;
        padding: $small-v-pad $small-h-pad;
    }
}
