@import '../../../app.vars';

.status-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.status-filter-list-item {
    border-right: 1px solid $bdr-color-darker;
    display: inline-block;
    padding: $small-v-pad $small-h-pad;
    text-align: center;

    &:first-child {
        text-align: left;
    }

    &:last-child {
        border-right: 0;
        padding-right: 0;
        text-align: right;
    }

    span {
        color: $text-color-selected;
        padding: $small-v-pad $small-h-pad;
        text-transform: uppercase;
    }

    button {
        background: transparent;

        &:hover {
            color: $link-color-hover;
            text-decoration: underline;
        }
    }
}
