export const DOMAIN = 'http://127.0.0.1:8000/';
export const API_PREFIX = 'api';
export const ARTIFICIAL_DELAY = 1000;
export const LOGIN_DELAY = 0;
export const ARTIFICIAL_DELAY_DEFAULT = false;
export const MINIMAL_MESSAGE_DEFAULT = false;